* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(187, 251, 187);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  html,body {
    height: 100%;
  }
  
  .container {
    width: 75%;
    height: 80%;
    background-color: #f6f2f2;
    display: flex;
    border-radius: 25px;
    /* padding: 10px; */
    font-family: "Roboto", sans-serif;
    position: absolute;
    overflow: hidden;
  }
  
  .left__container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #f1eaea;
    gap: 10px;
    font-size: 18px;
  }
  .email__container {
    width: 100%;
    height: 90%;
    margin-bottom: 10px;
    background-color: rgb(52, 136, 52);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 0 10px 30px 20px;
    border-top-left-radius: 25px;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .social__container {
    width: 100%;
    height: 40%;
    background-color: rgb(52, 136, 52);
    display: flex;
    flex-direction: column;
    padding:  20px 10px 30px 20px;
    border-bottom-left-radius: 25px;
  }
  
  .icons__container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }
  
  i {
    cursor: pointer;
  }
  
  .right__container {
    width: 60%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    gap: 10px;
  }
  .image__container {
    position: relative;
    left: -5%;
    z-index: 3;
  
  }
  #image {
    width: 300px;
    height: 480px;
  }
  
  .user_info__container {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .user_info__container h1 {
    text-transform: uppercase;
  }
  
  .highlight {
    color: rgb(52, 136, 52);
  }
  
  ul {
    margin-left: 15px;
  }
  li {
    padding-bottom: 5px;
    position: relative;
  }
  
  .image__container::before,
  .image__container::after {
    content: '';
    position: absolute;
    z-index: 1;
  }
  
  .image__container::after {
    margin-top: 20px;
    width: 50px;
    height: 20px;
    background-color: rgb(180, 179, 179);
    right: -5%;
  }
  
  .image__container::before {
    margin-top: 70px;
    width: 50px;
    height: 40px;
    background-color: #e7e4e4;
    left: -5%;
  }
  .shapes__container::after,
  .shapes__container::before {
    content: '';
    position: absolute;
  }
  
  
  
  .circle__container {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(52, 136, 52);
    right: -35px;
    top: -15px;
    border-radius: 100px;
  }
  
  .shapes__container::after,
  .shapes__container::before {
    content: '';
    position: absolute;
  }
  .shapes__container::before {
    width: 35px;
    height: 35px;
    background-color: #e7e4e4;
    /* left: 1%; */
    right: 68%;
    bottom: 35px;
    /* bottom: -1%; */
    z-index: 4;
  }
  
  .shapes__container::after {
    content: '';
    background-color: rgb(52, 136, 52);
    width: 45px;
    height: 45px;
    border-radius: 100px;
    /* left: 1%; */
    right: 44%;
    z-index: 1;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
  }
  
  .footer a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer span {
    font-size: 14px;
  }
  